<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>main</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="static/js/get_data.js"></script>
	<script src="static/js/main.js"></script>
	<script>
		$SCRIPT_ROOT = "";
	</script>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<header>
</header>





<body id="body">
	<table id="table"></table>	

	<div id="block_text">Нажмите на любой продукт для печати</div>

	
	<div id="block_status" onclick="statis_print()">Нажмите сюда для запроса статуса</div>

	<script>
		load_data();
		
	</script>
</body>

</html>